<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlashCards2016.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <FlashCards2016.MySettings>
            <setting name="Letters" serializeAs="String">
                <value>A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z</value>
            </setting>
            <setting name="Misc" serializeAs="String">
                <value>ck,ch,sh</value>
            </setting>
            <setting name="ProgressTrackerFile" serializeAs="String">
                <value>ProgressTracker.txt</value>
            </setting>
        </FlashCards2016.MySettings>
    </applicationSettings>
</configuration>